html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}
body{
    margin:0 auto;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 100%;
    line-height:1.5;
    padding:0 auto;
    vertical-align: baseline;
    width: 100%;
}
h1,h2{
    color:rgb(48, 46, 46);
    margin-bottom:3%;
}
p{
    color:#888;
}
header{
    background-image: url('header.jpg');
    padding:0% 10% 5% 10%;
}
#navbar{
    background-color:rgb(241, 238, 238);
    box-shadow:rgba(0,0,0,0.5) 5pz;;
    display: flex;
    flex-direction: row;
    width:100%;
}
#navbar #title{
    align-self: flex-start;
}
#navbar #nav-links{
    align-self: flex-end;
}
#navbar ul{
    display: flex;
    margin:0 5% auto;
    width:100%;
    padding:1% 0;
}
#banner{
    background-image: url('header.jpg');
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content:stretch;
    max-width:100%;
    padding:5% 0% 5% 0%;
    height:50%;
}
#navbar #welcome-text{
    align-self: flex-start;
}
#navbar #signup{
    align-self:flex-end;
}
#banner h1{
    color:rgb(241, 238, 238);
    text-transform: uppercase;
    font-weight:700;
    font-variant: unset;
    line-height:1.5;
    letter-spacing: 2%;
}
#banner p{
    color:rgb(241, 238, 238);
}
#banner form{
    background-color:rgb(241, 238, 238);
    padding:5%;
}
#head-content{
    background:linear-gradient(150deg, rgb(29, 29, 145),rgb(153, 22, 22));
    padding:5% 5%;
    color:rgb(241, 238, 238);
}
#navbar #title{
    padding-left:0;
}
#navbar ul li{
    display: inline;
}
#navbar ul li a{
    color:#ad1688;
    text-decoration: none;
    padding:10px;
}
#contents{
    width:80%;
    margin:0 auto;
}