html{
    box-sizing:border-box;
}
body{
    margin:0 auto;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 100%;
    line-height:1.5;
    padding:0 auto;
    vertical-align: baseline;
    width: 100%;
}
h1,h2{
    color:rgb(48, 46, 46);
    margin-bottom:3%;
}
p{
    color:#888;
}
header{
    padding:0% 0% 5% 10%;
}
#navbar{
    display: flex;
    flex-direction: row;
}
#navbar #title{
    align-self: flex-start;
}
#navbar #nav-links{
    align-self: flex-end;
}
#navbar ul{
    display: flex;
    margin:0 auto;
    padding:2% 5% 5% 2%;
}
#navbar #title{
    padding-left:0;
}
#navbar ul li{
    display: inline;
}
#navbar ul li a{
    /* padding:2%; */
    margin-right:2%;
}
#contents{
    width:80%;
    margin:0 auto;
}