body{
    background-color:rgb(252, 252, 252);
    margin:0;
    padding:0;
}
.container{
    margin:1% ;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav > ul li{
    list-style: none;
}
nav > ul li a{
    text-decoration:none;
    color:#758483;
}
.banner{
    color:rgb(243, 243, 243);
    font-family:Helvetica,Arial, sans-serif, 'Times New Roman', Times, serif;
    padding:5%;
    text-align: center;
    background:linear-gradient(45deg, blue, red);
    margin-bottom:5%;
}
.main{
    display:flex;
    flex-direction: row;
    height:100%;
    justify-content: space-around;
}
.contents{
    background-color:#ccc;
    border-radius:10px;
    flex:2 0 2;
    padding:1%;
}
aside{
    background-color:#ccc;
    border-radius:10px;
    flex:2 0 1;
    padding:1%;
}
footer{
    padding:5%;
}